
div.lists{
  ul{
    padding: 0;
    li{
      text-align: left;
      border-radius: 3px;
    }
  }
}

.content{
  margin: 10px 15px;
  input{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #d0d0d0;
  }
}


div.forms{
  form {
    display: flex;
    input{
      padding: 10px;
      flex: 3;
      border: 1px solid #d0d0d0;
      margin-right: 10px;
    }
    button{
      padding: 10px;
      flex: 1;
      background: royalblue;
      border-radius: 3px;
      border: 0px;
      color: #fff;
    }
  }
}

div.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  span{
    font-size: 18px;
  }
  input.list-input{
    box-sizing: border-box;
    width: 50%;
    padding: 3px;
    border: 1px solid #d0d0d0;
  }
  button{
    padding: 5px 15px;
    background: royalblue;
    border-radius: 3px;
    border: 0px;
    color: #fff;
    margin: 3px;
    &.red{
      background: tomato;
    }
  }
}